* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @font-face {
        font-family: "paybooc-Bold";
        src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff") format("woff");
        font-weight: normal;
        font-style: normal;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "paybooc-Bold";
    }
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-animated {
    animation: slideInLeft 0.5s ease-in-out forwards 0s;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
