.contactParent {
    background-color: #fafafc;
}

.contactSection {
    /* border: solid 1px black; */
    margin: 0 12vw;
    height: calc(100vh - 6rem);
}

.contactSection .contactSectionTitle {
    /* border: solid 1px red; */
    width: 100%;
    height: 25%;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    /* margin: 2rem 0; */
}

.contactSection .contactContainer {
    /* border: solid 1px blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.contactSection .contactContainer .myphotoImg {
    width: 20rem;
    height: 26rem;
    border-radius: 10rem;
    /* border: solid 1px blue; */
    margin-right: 4rem;
}

.contactSection .contactContainer .containerText {
    display: flex;
    flex-direction: column;
    width: auto;
    /* border: solid 1px black; */
}
.contactSection .contactContainer .containerText h3 {
    margin-bottom: 1rem;
    font-size: 1.7rem;
}
.contactSection .contactContainer .containerText span {
    font-family: "paybooc-Medium";
    color: #555;
    font-size: 18px;
}

.contactSection .contactContainer .containerText span:nth-child(3) {
    color: #555;
    font-weight: 700;
    margin-bottom: 2rem;
}

.contactSection .contactContainer .emailBox,
.phoneBox {
    /* border: solid 1px beige; */
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.contactSection .contactContainer .emailBox img,
.phoneBox img {
    /* border: solid 1px red; */
    width: 2rem;
    margin-right: 0.5rem;
}

.contactSection .copyrightContainer {
    /* border: solid 2px orange; */
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 2rem;
    height: 25%;
    position: relative;
}

.contactSection .copyrightContainer .copyrightText {
    /* border: solid 1px black; */
    position: absolute;
    bottom: 20%;
    color: #555;
    font-family: "paybooc-Medium";
}
