@font-face {
    font-family: "paybooc-Bold";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "paybooc-Bold";
}

/* font-family: "paybooc-ExtraBold";
font-family: "paybooc-Bold";
font-family: "paybooc-Medium";
font-family: "paybooc-Light"; */
