.firstUISection {
    /* border: solid 3px blue; */
    /* height: calc(100vh - 10rem); */
}

.firstUISection .uiGroup {
    /* border: solid 2px black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.firstUISection .uiGroup img {
    width: 100vw;
}

.firstUISection .uiGroup .jooyajooyagroupImg {
    width: 100vw;
    height: calc(100vh - 6rem);
}
