.projectSection {
    border: solid 1px black;
    margin: 0 12vw;
    height: calc(100vh - 6rem);
}

.projectSection .projectSectionTitle {
    /* border: solid 1px red; */
    width: 100%;
    height: 25%;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    /* margin: 2rem 0; */
}
