.introductionSection {
    /* border: solid 1px red; */
    width: 100vw;
    height: calc(100vh - 6rem);
}

.introductionSection .introductionContainer {
    /* border: solid 2px rebeccapurple; */
    margin: 0 12vw;
    height: calc(100vh - 6rem);
    padding-top: 4rem;
}

.introductionSection .introductionContainer .introductionBox {
    border: solid 1px orange;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0 10rem;
}

.introductionSection .introductionContainer .myphotoImg {
    /* border: solid 2px red; */
    width: 30rem;
    height: 34rem;
    filter: brightness(50%);
    border-radius: 2rem;
    margin-right: 4rem;
    animation: myphotoImg-Ani 1.5s forwards;
    opacity: 0;
    /* transform-origin: left; */
}

@keyframes myphotoImg-Ani {
    from {
        opacity: 0;
        /* transform: scaleX(0); */
        /* transform: rotateY(-180deg); */
    }
    to {
        opacity: 1;
        /* transform: scaleX(100%); */
        /* transform: rotateY(0); */
    }
}

.introductionSection .introductionContainer .scrollAnimation {
    /* border: solid 1px black; */
    width: 2rem;
    rotate: 180deg;
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 6rem; */
    position: absolute;
    left: calc(50% - 1rem);
    bottom: 2%;
    animation: scroll-Ani 0.8s cubic-bezier(0.37, 0.01, 0.63, 0.99) infinite alternate;
    /* opacity: 0; */
}

@keyframes scroll-Ani {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(32px);
    }
}
